/tests
CLAUDE.md

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Playgrounds
editor.py
app/editor.py
cloud_function.py